.bazelrc linguist-generated=true
pnpm-lock.yaml linguist-generated=true
tsconfig.json linguist-generated=true
tsconfig-base.json linguist-generated=true
buildlib/docs/*.md linguist-generated=true
buildlib/docs/README.md linguist-generated=false
