{
  // For mapping tsconfig -> swconfig mapping info, have a look at:
  // https://www.npmjs.com/package/tsconfig-to-swcconfig
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "keepClassNames": true,
    "parser": {
      "decorators": true,
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es2018",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true,
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "module": {
    "type": "es6"
  }
}
